In [1]:
import pandas as pd
import county_library as CL

# Read and Prepare Data

In [2]:
county2018 = pd.read_csv('county2018.csv')
county2018 = CL.remove_suppressed(county2018)

# Load Datasets

In [3]:
poverty2018 = pd.read_csv('Poverty2018.csv')
unemployment2018 = pd.read_excel('Unemployment.xls')
prescription2018 = pd.read_csv('Prescriptions2018.csv')

# Process Data

In [4]:
county2018 = CL.merge_poverty(county2018, poverty2018)
county2018 = CL.merge_unemployment(county2018, unemployment2018, '2018')
county2018 = CL.merge_prescription_rate(county2018, prescription2018, '2018')

# Finalize

In [5]:
county2018 = CL.county_cleanup(county2018)

In [7]:
county2018 = county2018.drop(['Unnamed: 0'], axis=1)

In [8]:
county2018.head(15)

    FIPS Poverty Rate Income Unemployment Rate  Prescription Rate  Death Rate
0   1003          9.8  57588               3.6               93.6        6.42
1   1043         14.5  45796               3.3              126.7       13.18
2   1055         17.5  44903               4.1              126.1       14.63
3   1073         16.1  55013               3.7               95.8       20.63
4   1089         11.9  63755               3.5               85.4        3.00
5   1097         20.8  43598               4.7              107.6        7.98
6   1103         13.2  52797               3.5              108.9       11.76
7   1115           12  57284               3.5              100.1       18.04
8   1117            8  75663               2.9               81.2       11.13
9   1125         16.8  52557               3.7               89.1        5.74
10  2020          9.5  82113               5.5               51.2        9.60
11  2122         12.4  65439               7.7               76.3       18.79
12  2170         10.4  74649               7.6               60.8       10.22
13  4003         15.1  49164               5.6               60.3       11.83
14  4005         15.9  60187               5.5               34.7       16.10

# Export to CSV

In [9]:
county2018.to_csv('county2018_final.csv')