In [1]:
import pandas as pd
import county_library as CL

# Read and Prepare Data

In [2]:
county2017 = pd.read_csv('county2017.csv')
county2017 = CL.remove_suppressed(county2017)

# Load Datasets

In [3]:
poverty2017 = pd.read_csv('Poverty2017.csv')
unemployment2017 = pd.read_excel('Unemployment.xls')
prescription2017 = pd.read_csv('Prescriptions2017.csv')

# Process Data

In [4]:
county2017 = CL.merge_poverty(county2017, poverty2017)
county2017 = CL.merge_unemployment(county2017, unemployment2017, '2017')
county2017 = CL.merge_prescription_rate(county2017, prescription2017, '2017')

# Finalize

In [5]:
county2017 = CL.county_cleanup(county2017)

In [6]:
county2017.head(15)

    FIPS Poverty Rate Income Unemployment Rate  Prescription Rate  Death Rate
0   1003         10.1  56607               4.1              106.7        9.88
1   1043         13.8  45925               3.8              141.1       13.29
2   1049         19.5  39906               4.5              103.2       15.36
3   1055         18.1  41791               4.6              130.5       26.28
4   1073         16.7  50731               4.3              104.2       24.42
5   1089         12.8  62750               3.9              100.5        4.99
6   1097         19.7  45615               5.2              118.4        3.38
7   1115         13.5  52755                 4              105.0       14.74
8   1117          7.4  74098               3.2               89.6       12.64
9   1125         15.9  51644               4.2               99.9        5.77
10  2020          9.6  78579               5.8               59.4       16.99
11  2170         11.3  72296               8.2               69.3       14.08
12  4003         16.1  48966               5.6               69.0       12.83
13  4005         18.4  54399               5.5               42.4        7.10
14  4013         13.5  62221               4.2               59.2       13.70

# Export to CSV

In [7]:
county2017.to_csv('county2017_final.csv')