In [14]:
import pandas as pd
import numpy as np
import csv

In [4]:
ds = pd.read_csv('petrol_consumption.csv')

In [24]:
ds.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [67]:
petrol_tax = []
income = []
with open('petrol_consumption.csv') as infile:
    data = csv.reader(infile, delimiter=",")
    for row in data:
        petrol_tax.append(row[0])
        income.append(row[1])

In [72]:
print({'petrol_tax': petrol_tax[1:]})

{'petrol_tax': ['9.00', '9.00', '9.00', '7.50', '8.00', '10.00', '8.00', '8.00', '8.00', '7.00', '8.00', '7.50', '7.00', '7.00', '7.00', '7.00', '7.00', '7.00', '7.00', '8.50', '7.00', '8.00', '9.00', '9.00', '8.50', '9.00', '8.00', '7.50', '8.00', '9.00', '7.00', '7.00', '8.00', '7.50', '8.00', '6.58', '5.00', '7.00', '8.50', '7.00', '7.00', '7.00', '7.00', '7.00', '6.00', '9.00', '7.00', '7.00']}

In [74]:
df = pd.DataFrame({'petrol_tax': petrol_tax[1:]})

In [78]:
df['income'] = income[1:]

In [80]:
df.to_csv('testCSV.csv')