In [1]:
import pandas as pd
import numpy as np

In [2]:
trainData = pd.read_csv("RF_datasets/train_data.csv")

In [3]:
testData = pd.read_csv('RF_datasets/CA_data.csv')

In [4]:
trainData.head()

           Unnamed: 0          0       1    2       3     4
0  Autauga County, AL   4.143150  1001.0  5.1  1084.0  25.0
1  Baldwin County, AL  15.578400  1003.0  5.3  1148.5  30.7
2  Barbour County, AL   1.936425  1005.0  8.3   577.6  12.0
3     Bibb County, AL   1.693200  1007.0  6.4   563.0  13.2
4   Blount County, AL   4.313775  1009.0  5.4   459.0  13.1

In [5]:
testData.head()

             Unnamed: 0          0       1     2       3     4
0    Alameda County, CA  80.864994  6001.0   4.3   320.4  44.7
1     Amador County, CA   1.834462  6005.0   5.9  1514.8  22.1
2      Butte County, CA  11.099921  6007.0   6.6  1880.6  26.6
3  Calaveras County, CA   2.219847  6009.0   5.7  1476.4  19.3
4     Colusa County, CA   1.056097  6011.0  15.5   430.4  15.7

In [6]:
X_train = trainData.iloc[:, 3:].values
y_train = trainData.iloc[:, 1].values

In [7]:
X_test = testData.iloc[:, 3:].values
y_test = testData.iloc[:, 1].values

In [8]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [25]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 31.926421890625
Mean Squared Error: 4401.327567674659
Root Mean Squared Error: 66.34250197026533

In [35]:
import csv

finalDict = {}
with open('RF_datasets/CA_data.csv') as CA_file:
    CA_data = csv.reader(CA_file, delimiter=",")
    i = 0
    for row in CA_data:
        if i > 0:
            #print(row[0], row[2], y_test[i - 1], y_pred[i - 1])
            finalDict[row[0]] = [row[2], y_test[i-1], y_pred[i-1]]
        i += 1

In [38]:
final_df = pd.DataFrame(finalDict)
final_df = final_df.T

In [ ]:
f = open('RF_results.csv', 'w+')
final_d