In [1]:
import pickle

In [2]:
model_pkl = open("semi_data_model.pkl", "rb")

In [3]:
forest_reg = pickle.load(model_pkl)

In [4]:
forest_reg

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
                      max_features=2, max_leaf_nodes=4,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=8, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [5]:
import pandas as pd
import numpy as np
data = pd.read_csv("2020_data.csv")

In [6]:
#data.index = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
data.head()

  Unnamed: 0  depression   edu  employ   income  religion
0         AL         5.0  47.0     2.7  48486.0      0.82
1         AK         4.0  45.0     5.8  76715.0      0.55
2         AZ         4.0  48.0     4.5  56213.0      0.62
3         AR         5.0  42.0     3.5  45726.0      0.77
4         CA         3.0  56.0     3.9  71228.0      0.54

In [7]:
x_2020_determinants = data.iloc[:, 1:]

In [8]:
y_results = forest_reg.predict(x_2020_determinants)

In [9]:
D = {'' : ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']}
predict = pd.DataFrame(data =D)

In [10]:
data = pd.read_csv("../RF_datasets/stateData.csv")
real_2016_values = data.iloc[:, 2]

In [11]:
for i in range(50):
    predict.set_value(i, "2020_predicted_death_rate", y_results[i])
    predict.set_value(i, "2016_real_death_rate", real_2016_values[i])

/Users/samsonweiner/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/Users/samsonweiner/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
f = open('2020_results.csv', 'w+')
predict.to_csv('2020_results.csv')