In [3]:
import pandas as pd
import numpy as np
import csv

In [4]:
abrvKeys = {'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}
fullKeys = {'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 
            'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 
            'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 
            'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 
            'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 
            'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 
            'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 
            'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 
            'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 
            'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'}

In [41]:
unemployment = {'ND': 2.2, 'VT': 2.4, 'CO': 2.5, 'SC': 2.5, 'UT': 2.5, 'NH': 2.6, 'VA': 2.6, 'AL': 2.7, 'HI': 2.7,
                'ID': 2.7, 'FL': 2.8, 'IA': 2.8, 'MA': 2.8, 'NE': 2.9, 'GA': 3.1, 'IN': 3.1, 'KS': 3.1, 'MN': 3.1,
                'ME': 3.2, 'OK': 3.2, 'MD': 3.3, 'OR': 3.3, 'SD': 3.3, 'IL': 3.4, 'RI': 3.4, 'TN': 3.4, 'AR': 3.5,
                'MO': 3.5, 'MT': 3.5, 'TX': 3.5, 'WI': 3.5, 'MI': 3.6, 'NV': 3.6, 'NC': 3.6, 'NY': 3.7, 'WY': 3.7,
                'CT': 3.8, 'NJ': 3.8, 'WA': 3.8, 'CA': 3.9, 'DE': 3.9, 'OH': 4.1, 'KY': 4.2, 'AZ': 4.5, 'PA': 4.7,
                'NM': 4.8, 'WV': 4.9, 'LA': 5.2, 'MS': 5.4, 'AK': 5.8}

In [6]:
education = {'AL': 47, 'AK': 45, 'AZ': 48, 'AR': 42, 'CA': 56, 'CO': 60, 'CT': 60, 'DE': 57, 'FL': 54, 'GA': 53, 
             'HI': 60, 'ID': 49, 'IL': 60, 'IN': 53, 'IA': 60, 'KS': 60, 'KY': 49, 'LA': 44, 'ME': 57, 'MD': 60, 
             'MA': 60, 'MI': 54, 'MN': 60, 'MS': 46, 'MO': 57, 'MT': 57, 'NE': 60, 'NV': 42, 'NH': 60, 'NJ': 60, 
             'NM': 42, 'NY': 60, 'NC': 57, 'ND': 60, 'OH': 56, 'OK': 47, 'OR': 57, 'PA': 60, 'RI': 60, 'SC': 53, 
             'SD': 60, 'TN': 49, 'TX': 47, 'UT': 57, 'VT': 60, 'VA': 60, 'WA': 60, 'WV': 43, 'WI': 60, 'WY': 53}

In [7]:
income = {}
with open('/Users/samsonweiner/Downloads/MHI_data.csv') as incomeFile:
    incomeData = csv.reader(incomeFile, delimiter=",")
    for row in incomeData:
        if str(row[1]) in abrvKeys:
            income[abrvKeys[row[1]]] = int(row[3])

In [11]:
religion_full = {'Washington': 0.55, 'Oregon': 0.57, 'California': 0.54, 'Idaho': 0.62, 'Nevada': 0.59, 'Arizona': 0.62,
            'Utah': 0.61, 'Montana': 0.64, 'Wyoming': 0.66, 'Colorado': 0.55, 'New Mexico': 0.54, 'North Dakota': 0.64,
            'South Dakota': 0.69, 'Nebraska': 0.66, 'Kansas': 0.66, 'Oklahoma': 0.71, 'Texas': 0.69, 'Minnesota': 0.56,
            'Iowa': 0.66, 'Missouri': 0.70, 'Arkansas': 0.77, 'Louisiana': 0.75, 'Wisconsin': 0.56, 'Illinois': 0.61,
            'Mississippi': 0.82, 'Michigan': 0.63, 'Indiana': 0.63, 'Kentucky': 0.75, 'Tennessee': 0.78, 'Alabama': 0.82,
            'Ohio': 0.67, 'Georgia': 0.74, 'Florida': 0.64, 'West Virginia': 0.77, 'Virginia': 0.67, 'South Carolina': 0.74,
            'Maryland': 0.64, 'Pennsylvania': 0.61, 'Delaware': 0.61, 'New Jersey': 0.60, 'New York': 0.56, 'Connecticut': 0.54,
            'Rhode Island': 0.60, 'Massachusetts': 0.40, 'Vermont': 0.41, 'New Hampshire': 0.43, 'Maine': 0.48, 'Alaska': 0.55,
            'Hawaii': 0.62, 'North Carolina': 0.73}

In [34]:
six = ['OR', 'WV', 'ME']
five = ['AR','KY', 'OK', 'AL', 'VT', 'TN', 'WA', 'UT', 'MO', 'MI', 'RI', 'NH', 'LA', 'MT', 'OH', 'SC', 'IN', 'MS']
four = ['PA', 'NM', 'MA', 'KS', 'NC', 'ID', 'WY', 'MN', 'ND', 'NE', 'WI', 'DE', 'IA', 'AZ', 'CO', 'GA', 'CT', 'VA', 'AK', 'IL', 'SD', 'NV', 'MD']
three = ['FL', 'TX', 'NY', 'CA']
two = ['NJ', 'HI']
depression = {}
for state in six:
    depression[state] = 6
for state in five:
    depression[state] = 5
for state in four:
    depression[state] = 4
for state in three:
    depression[state] = 3
for state in two:
    depression[state] = 2

In [35]:
religion = {}
for x in religion_full:
    religion[abrvKeys[x]] = religion_full[x]

In [36]:
compiled_data = {}

In [37]:
for x in fullKeys:
    compiled_data[x] = []

In [44]:
for x in compiled_data:
    compiled_data[x] = [depression[x], education[x], unemployment[x], income[x], religion[x]]

In [46]:
full_df = pd.DataFrame(compiled_data)
full_df = full_df.T

In [48]:
full_df.columns = ['depression', 'edu', 'employ', 'income', 'religion']
print(full_df.columns)

Index(['depression', 'edu', 'employ', 'income', 'religion'], dtype='object')

In [49]:
full_df.index = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
full_df.head()

    depression   edu  employ   income  religion
AL         5.0  47.0     2.7  48486.0      0.82
AK         4.0  45.0     5.8  76715.0      0.55
AZ         4.0  48.0     4.5  56213.0      0.62
AR         5.0  42.0     3.5  45726.0      0.77
CA         3.0  56.0     3.9  71228.0      0.54

In [ ]:
f = open('', 'w+')
add_df.to_csv('')