In [4]:
import pickle

In [5]:
model_pkl = open("semi_data_model.pkl", "rb")

In [6]:
forest_reg = pickle.load(model_pkl)

In [7]:
forest_reg

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
                      max_features=2, max_leaf_nodes=4,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=8, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [12]:
import pandas as pd
import numpy as np
data = pd.read_csv("../RF_datasets/stateData.csv")

In [13]:
data.index = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
data.head()

,Unnamed: 0,pop,deaths,edu,employ,MME,strat,income,religion,HIV,depression
AL,AL,4863300.0,7.5,24.5,5.8,1037.824230,5,46257,0.77,13.5,5
AK,AK,741894.0,12.5,29.0,6.9,757.650696,4,76440,0.45,3.9,3
AZ,AZ,6931071.0,11.4,28.4,5.4,849.237172,4,53558,0.53,10.9,3
AR,AR,2988248.0,5.9,22.0,4.0,922.833575,5,44334,0.70,9.7,5
CA,CA,39250017.0,4.9,32.6,5.5,462.578769,1,67739,0.49,11.4,4

In [14]:
x_2020_determinants = data.iloc[:, 3:]

In [15]:
y_results = forest_reg.predict(x_2020_determinants)

NameError: name 'forest_reg' is not defined

In [16]:
D = {'' : ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']}
predict = pd.DataFrame(data =D)

In [17]:
for i in range(50):
    predict.set_value(i, "predict_death_rate", y_results[i])

NameError: name 'y_results' is not defined

In [ ]:
f = open('2020_results.csv', 'w+')
predict.to_csv('2020_results.csv')